@use '../core/variables' as vars;

.page__footer {
  padding-left: 60px;
  padding-bottom: 100px;
  background-color: vars.$color-bg;
}

.footer-links {
  display: none;
}

.footer-contact {
  background-color: white;
  padding-top: 300px;
  margin: 40px 80px 0 60px;
  

}
.rrss {
  display: flex;
  gap: 50px;
  padding-top: 60px;

}
.footer-img {
  width: 35px;
}

.copyright {
  padding-top: 40px;
  font-family: vars.$font-main;
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .page__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .footer-contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-home {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 30px;
    padding-right: 100px;
  }
   
  .footer-links {
    display: flex;
    flex-direction: column;
    font-family: vars.$font-main;
    align-items: end;
    padding-right: 100px;
  }

  .a-footer {
    text-decoration: none;
    color: #6F6F76;
    display: flex;
    flex-direction: column;
    padding: 20px;

  }

}