@use '../core/variables' as vars;

.page__header {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  background-color: vars.$color-bg;
}

.headerLeft {
  display: flex;
  justify-content: left;
  gap: 30px;

}

.headerTitle {
  width: 100%;
  text-align: left;
  margin-left: 30px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.headerLinks {
  color: #8C8B92;
  display: none;
}