@use '../core/variables' as vars;

.page__header {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  background-color: vars.$color-bg;
}

.headerLeft {
  display: flex;
  justify-content: left;
  gap: 30px;
  padding-left: 100px;

}

.headerTitle {
  width: 100%;
  text-align: left;
  padding-left: 30px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.headerLinks {
  color: #8C8B92;
  display: none;
}

@media screen and (min-width: 1440px) {

  .headerLinks {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 80px;
    padding-right: 50px;

  }

  .headerLinks a {
    text-decoration: none;
    color: #8C8B92;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 600;

  }

  .headerRight {
    display: none;

  }

}