@use '../core/variables' as vars;

.page__header {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  background-color: white;
  width: 100%;
  position: fixed;
}

.header-contact {
  background-color: transparent;
  padding-bottom: 300px;
  width: 100%;
}


.header-links {
  color: #8C8B92;
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 80px;
    padding-right: 50px;

  }

  .header-links a {
    text-decoration: none;
    color: #8C8B92;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;

  }

  .header-right {
    display: none;

  }

}