@use '../core/variables' as vars;

.page__main {
    padding: 50px 0px;
    background-color: vars.$color-bg;
    
}

.Destination3 {
    width: 80%;
}


.imageTrio {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.topDestination {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-align: center;

}

.homeButton {
    background-color: #5758CD;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 450;
    width: 100%;
    padding: 20px 50px;
    border-radius: 50px;
    border-style: none;
    

}

.h2Top {
    color: #F85E9F;
    font-weight: 500;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 45px;

}

.destinationImg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto) ;
    text-align: center;
    gap: 50px;
    background-color: vars.$color-bg;
   
    
}

.imgTop {
    width: 90%;
}

.textTop {
    padding: 20px 45px 50px 45px;
    text-align: left;
    line-height: 30px;
    font-weight: 500;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 40px;
    margin: 0px 46px;
   
}

// .girlBag {
// //   esta tía no hay manera de dimensionarla

// }

.sectionTravel {
    display: none;
}
