@use '../core/variables' as vars;

.page__main {
    padding: 50px 0px;
    background-color: vars.$color-bg;
}

.destination-3 {
    width: 80%;
}

.image-trio {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.destination-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*align-items: center;*/
}

.top-destination {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-bottom: 30px;
    width: 100%;
}

.home-button {
    background-color: #5758CD;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 450;
    width: auto;
    padding: 20px 50px;
    border-radius: 50px;
    border-style: none;

}

.h2-top {
    color: #F85E9F;
    font-weight: 500;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 45px;
}

.destination-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    gap: 50px;
    background-color: vars.$color-bg;

}

.img-text-container {
    padding-bottom: 60px;
    background-color: white;
    border-end-end-radius: 40px;
    border-start-start-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 50px 0 20px;

}

.price-text {
    padding-left: 30px;
    font-weight: 600;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    line-height: 30px;

}

.img-top {
    width: 100%;
    padding-bottom: 30px;
}

.text-top {
    padding: 20px 45px 50px 45px;
    text-align: left;
    line-height: 30px;
    font-weight: 500;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 40px;
    margin: 0px 46px;
}

.girlbag-img {
    width: 100%;
    height: auto;
    padding: 60px 20px;
}

.section-travel {
    display: none;
}

.surf-img {
    width: 100%;
    height: auto;
    padding: 60px 30px;
}

.travel-container {
    display: none;
}

.travel {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-align: left;
    letter-spacing: 5px;
    display: none;
}

.subtitle-travel {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: 600;
}

.text-500 {
    font-size: 35px;
    font-family: Roboto, sans-serif;
}

.text-100 {
    font-size: 35px;
    font-family: Roboto, sans-serif;
}

.party-text {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color: #3D3C47;
    line-height: 60px;
}

.hotel-text {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color: #3D3C47;
    line-height: 60px;
}

.other-container {
    margin-bottom: 60px;
}

.other {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-align: center;
    letter-spacing: 5px;
}

.service-text {
    font-size: 50px;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: 600;
}

.service-icons {
    width: 90px;
}

.service-container {
    padding-left: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 90px;
}

.service-title {
    font-weight: 700;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    padding: 40px 0px 10px 0px;
}

.service-subtitle {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #818CA3;
}

@media screen and (min-width: 1200px) {

    .container-trio {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .image-trio {
        flex: 70%;
    }

    .home-button {
        width: 200px;
        margin-top: 30px;
        padding: 30px 50px;
        font-size: 18px;
    }

    .top-destination {
        font-size: 60px;
        text-align: left;
    }

    .destination-button {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 100px;
    }

    .h2-img-container {
        padding-left: 100px;
    }

    .h2-top {
        text-align: left;
        font-size: 30px;
        padding-left: 20px;
    }

    .destination-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        text-align: center;
        gap: 40px;
        background-color: vars.$color-bg;
    }

    .girlbag-img {
        width: 60%;
        height: auto;
        padding: 60px 0px;
    }

    .section-travel {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding-top: 80px;
    }

    .girl-bag {
        display: flex;
        flex-direction: row;
    }

    .travel {
        font-size: 25px;
        font-family: Roboto, sans-serif;
        text-align: left;
        letter-spacing: 5px;
        display: flex;
        padding-bottom: 30px;
        font-weight: 600;
    }

    .party-hotel {
        display: flex;
        gap: 40px;
        padding: 80px 0 0 0px;

    }

    .party-number {
        border: solid 1px rgba(25, 24, 37, 0.1);
        padding: 20px 30px 20px 30px;
        border-radius: 32px;
        text-align: center;
        width: 600px;
        height: 150px;
    }

    .hotel {
        border: solid 1px rgba(25, 24, 37, 0.1);
        padding: 20px 30px 20px 30px;
        border-radius: 32px;
        text-align: center;
        width: 600px;
        height: 150px;
    }

    .surf-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .surf-img {
        width: 50%;
    }

    .desktop-surf {
        width: 50%;
    }


    .service-container {
        padding-left: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 90px;
    }

    .service-text,
    .other {
        text-align: left;
        padding-left: 60px;
    }

    .service-icons {
        border-radius: 30px;
    }

    .landpoint,
    .calendar,
    .ticket {
        grid-column: 1/2;
    }

    .landpoint,
    .calendar,
    .ticket {
        grid-column: 2/3;
    }









}