@use '../core/variables' as vars;

.page__main {
    padding: 50px 0px;
    background-color: vars.$color-bg;
}

.destination-3 {
    width: 80%;
}

.image-trio {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.top-destination {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.home-button {
    background-color: #5758CD;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 450;
    width: 100%;
    padding: 20px 50px;
    border-radius: 50px;
    border-style: none;
}

.h2-top {
    color: #F85E9F;
    font-weight: 500;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 45px;
}

.destination-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    gap: 50px;
    background-color: vars.$color-bg;
}

.img-top {
    width: 90%;
}

.text-top {
    padding: 20px 45px 50px 45px;
    text-align: left;
    line-height: 30px;
    font-weight: 500;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 40px;
    margin: 0px 46px;
}

.girlbag-img {
    width: 100%;
    height: auto;
    padding: 60px 20px;
}

.section-travel {
    display: none;
}

.surf-img {
    width: 100%;
    height: auto;
    padding: 60px 30px;
}

.travel-container {
    display: none;
}

.travel {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-align: left;
    letter-spacing: 5px;
    display: none;
}

.subtitle-travel {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: 600;
}

.text-500 {
    font-size: 35px;
    font-family: Roboto, sans-serif;
}

.text-100 {
    font-size: 35px;
    font-family: Roboto, sans-serif;
}

.party-text {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color: #3D3C47;
    line-height: 60px;
}

.hotel-text {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color: #3D3C47;
    line-height: 60px;
}

.other-container {
    margin-bottom: 60px;
}

.other {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-align: center;
    letter-spacing: 5px;
}

.service-text {
    font-size: 50px;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: 600;
}

.service-icons {
    width: 90px;
}

.service-container {
    padding-left: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 90px;
}

.service-title {
    font-weight: 700;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    padding: 40px 0px 10px 0px;
}

.service-subtitle {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #818CA3;
}

@media screen and (min-width: 1440px) {

    .container-trio {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .image-trio {
        flex: 1;
    }

    .home-button {
        width: 30%;
        margin-top: 30px;
    }

    .top-destination {
        font-size: 60px;
        text-align: left;
    }

    .destination-button {
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        padding-left: 100px;      
    }

    .destination-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        text-align: center;
        gap: 50px;
        background-color: vars.$color-bg;
    }


}