<main class="page__main">
  <div class="container-trio">
    <div class="image-trio">
      <img src="./images/3img.png" alt="3 destinos" class="destination-3" />
    </div>

    <div class="destination-button">
      <h1 class="top-destination">Travel <span style="color:#F85E9F;">top destination</span> of the world</h1>
      <button class="home-button">Get Started</button>
    </div>
  </div>

  <h2 class="h2-top">TOP SPANISH DESTINATION </h2>

  <section class="destination-img">
    <div class="img-text-container">
      <img class="img-top" src=".\images\orilla.png" alt="Orilla" />
     
        <span class="price-text" style="color:#F85E9F;">$550.16</span>
        <p class="price-text" >Tenerife</p>
      
    </div>
    <div class="img-text-container">
      <img class="img-top" src=".\images\pez.png" alt="Pez" />
      
        <span class="price-text" style="color:#F85E9F;">$20.99</span>
        <p class="price-text" >Oceanografic Valencia</p>
      
    </div>
    <div class="img-text-container">
      <img class="img-top" src=".\images\montañas.png" alt="Montaña" />
      
        <span class="price-text" style="color:#F85E9F;">$150.99</span>
        <p class="price-text" >Picos de Europa</p>
      
    </div>
  </section>

  <section class="girl-bag">
    <img class="girlbag-img" src=".\images\girlbag.png" alt="chica con mochila" />
    <div class="section-travel">
      <h2 class="travel"> <span style="color:#F85E9F;">TRAVEL POINT</span></h2>
      <p class="subtitle-travel">Un viaje inolvidable que recodarás toda tu vida</p>
      <div class="party-number">
        <p class="text-500"> <span style="color:#ff5722;"><strong>500+</strong></span></p>
        <p class="party-text">Fiestas</p>
      </div>
      <div class="hotel">
        <p class="text-100"><span style="color:#ff5722;"><strong>100</strong></span></p>
        <p class="hotel-text">Hoteles de lujo</p>
      </div>
    </div>
  </section>

  <section class="surf-container">
    <img class="surf-img" src="./images/blacksurf.png" alt="iglesia y surf" />
    <div class="other-container">
      <h2 class="other"><span style="color:#F85E9F;">OTROS</span></h2>
      <p class="service-text">Mejores servicios</p>
    </div>

    <div class="service-container">
      <div class="landpoint">
        <img class="serviceIcons" src="./images/ubicacion.png" alt="ubicación" />
        <p class="service-title">Destinos</p>
        <p class="service-subtitle">Elige tu destino</p>
      </div>
      <div class="calendar">
        <img class="serviceIcons" src="./images/calendario.png" alt="calendario" />
        <p class="service-title">Fechas</p>
        <p class="service-subtitle">Consulta tus fechas</p>
      </div>
      <div class="ticket">
        <img class="serviceIcons" src="./images/entrada.png" alt="entrada" />
        <p class="service-title">Entradas</p>
        <p class="service-subtitle">Eventos al mejor precio</p>
      </div>
    </div>
  </section>
</main>