<main class="page__main">
  <div class="containerTrio">
    <div class="imageTrio">
      <img src="./images/3img.png" alt="3 destinos" class="Destination3">
    </div>

    <div class="destinationButton">
      <h1 class="topDestination">Travel <span style="color:#F85E9F;">top destination</span> of the world</h1>
      <button class="homeButton">Get Started</button>
    </div>
  </div>

  <h2 class="h2Top">TOP SPANISH DESTINATION </h2>
  <section class="destinationImg">
    <div><img class="imgTop" src=".\images\orilla.png" alt="Orilla">
      <div class="textTop"><span style="color:#F85E9F;">$550.16</span>
        <p>Tenerife</p>
      </div>
    </div>
    <div><img class="imgTop" src=".\images\pez.png" alt="Pez">
      <div class="textTop"><span style="color:#F85E9F;">$20.99</span>
        <p>Oceanografic Valencia</p>
      </div>
    </div>
    <div><img class="imgTop" src=".\images\montañas.png" alt="Montaña">
      <div class="textTop"><span style="color:#F85E9F;">$150.99</span>
        <p>Picos de Europa</p>
      </div>
    </div>
  </section>

  <section class="girlBag">
    <img class="girlbagImg" src=".\images\girlbag.png" alt="chica con mochila">
    <div class="travelContainer">
      <h2 class="travel"> <span style="color:#F85E9F;">TRAVEL POINT</span></h2>
      <p class="subtitleTravel">Un viaje inolvidable que recodarás toda tu vida</p>
      <div class="partyNumber">
        <p class="text500"> <span style="color:#ff5722;"><strong>500+</strong></span></p>
        <p class="partyText">Fiestas</p>
      </div>
      <div class="hotel">
        <p class="text100"><span style="color:#ff5722;"><strong>100</strong></span></p>
        <p class="hotelText">Hoteles de lujo</p>
      </div>
    </div>


  </section>

  <section class="surfContainer">
    <img class="surfImg" src="./images/blacksurf.png" alt="iglesia y surf" />
    <div class="otherContainer">
      <h2 class="other"><span style="color:#F85E9F;">OTROS</span></h2>
      <p class="serviceText">Mejores servicios</p>
    </div>

    <div class="serviceContainer">
      <div class="landpoint"> <img class="serviceIcons" src="./images/ubicacion.png" alt="ubicación">
        <p class="serviceTitle">Destinos</p>
        <p class="serviceSubtitle">Elige tu destino</p>
      </div>
      <div class="calendar"> <img class="serviceIcons" src="./images/calendario.png" alt="calendario">
        <p class="serviceTitle">Fechas</p>
        <p class="serviceSubtitle">Consulta tus fechas</p>
      </div>
      <div class="ticket"> <img class="serviceIcons" src="./images/entrada.png" alt="entrada">
        <p class="serviceTitle">Entradas</p>
        <p class="serviceSubtitle">Eventos al mejor precio</p>
      </div>
    </div>

  </section>
</main>