<main class="page__main">
  <div class="imageTrio">
    <img src="./images/3img.png" alt="3 destinos" class="Destination3">
  </div>

   <div>
    <h1 class="topDestination">Travel <span style="color:#F85E9F;">top destination</span> of the world</h1>
    <button class="homeButton">Get Started</button>
  </div> 

  <h2 class="h2Top" >TOP SPANISH DESTINATION </h2>
  <section class="destinationImg">
    <div><img class="imgTop" src=".\images\orilla.png" alt="Orilla"> 
    <div class="textTop" ><span style="color:#F85E9F;">$550.16</span> <p>Tenerife</p></div>
    </div>
    <div><img class="imgTop" src=".\images\pez.png" alt="Pez">
      <div class="textTop" ><span style="color:#F85E9F;">$20.99</span>
      <p>Oceanografic Valencia</p></div>
    </div>
    <div><img class="imgTop" src=".\images\montañas.png" alt="Montaña">
      <div class="textTop" ><span style="color:#F85E9F;">$150.99</span>
      <p>Picos de Europa</p></div>
    </div>
  </section>

  <section class="girlBag">
    <div class="girlbagImg">
      <img src=".\images\girlbag.png" alt="chica con mochila">
    </div>
  </section>

  <section class="sectionTravel">
    <div class="travelContainer">
     <h2 class="travel" >TRAVEL POINT</h2>
     <p>Un viaje inolvidable que recodarás toda tu vida</p>
    </div>
    <div class="partyNumber"> <p class="500">500+</p><p class="partyText">Fiestas</p></div>    
    <div class="hotel"> <p class="100">100</p><p class="hotelText">Hoteles de lujo</p></div>
  </section>

  <section class="surfContainer">
    <div class="surfImg"><img src="./images/blacksurf.png" alt="iglesia y surf"></div>
  </section>
  <section class="textSurf">
    <div><h2 class="other">Otros</h2>
    <p>Mejores servicios</p>
    </div>

    <div class="landpoint"> <img src="./images/ubicacion.png" alt="landpoint"><p>Destinos</p><p>Elige tu destino</p></div>


  </section>
</main>
